<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Cambridge Machine Learning Group Publications</title>

<style type="text/css">
body {font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 15px}
p.c {margin-left: 1cm; margin-right: 0cm; text-align: justify; font-size: 12px}
p.s {font-size: 12px}
</style>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-18826991-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</head>
<body text="#000000" link="#0000ff" vlink="#a020f0" alink="#ff0000"> 

<center><h2>Publications, <a href="../../">Machine Learning Group</a>, Department of Engineering,
  Cambridge</h2></center><br>

{{ partial "head-icons.html" }}

{{ partial "head-authors.html" }}

{{ partial "head-year.html" }}

<h3 id="Adel">Tameem Adel</h3>
{{ partial "ref-Adel.html" }}
<br>

<h3 id="Allinghamd">James Allingham</h3>
{{ partial "ref-Allingham.html" }}
<br>

<h3 id="Antor">Javier Antor&aacute;n</h3>
{{ partial "ref-Antor.html" }}
<br>

<h3 id="Ashman">Matthew Ashman</h3>
{{ partial "ref-Ashman.html" }}
<br>

<h3 id="Balog">Matej Balog</h3>
{{ partial "ref-Balog.html" }}
<br>

<h3 id="Bauer">Matthias Bauer</h3>
{{ partial "ref-Bauer.html" }}
<br>

<h3 id="Bhatt">Umang Bhatt</h3>
{{ partial "ref-Bhatt.html" }}
<br>

<h3 id="Borgwardt">Karsten Borgwardt</h3>
{{ partial "ref-Borgwardt.html" }}
<br>

<h3 id="Bratieres">S&eacute;bastien Brati&egrave;res</h3>
{{ partial "ref-Brati.html" }}
<br>

<h3 id="Bronskill">John Bronskill</h3>
{{ partial "ref-Bronskill.html" }}
<br>

<h3 id="Bruinsma">Wessel Bruinsma</h3>
{{ partial "ref-Bruinsma.html" }}
<br>

<h3 id="Bui">Thang Bui</h3>
{{ partial "ref-Bui.html" }}
<br>

<h3 id="Burt">David Burt</h3>
{{ partial "ref-Burt.html" }}
<br>

<h3 id="Calliess">Jan-Peter Calliess</h3>
{{ partial "ref-Calliess.html" }}
<br>

<h3 id="Cheema">Talay Cheema</h3>
{{ partial "ref-Cheema.html" }}
<br>

<h3 id="Wenlin">Wenlin Chen</h3>
{{ partial "ref-Wenlin.html" }}
<br>

<h3 id="Chen">Yutian Chen</h3>
{{ partial "ref-Yutian.html" }}
<br>

<h3 id="Clarke">Ross Clarke</h3>
{{ partial "ref-Clarke.html" }}
<br>

<h3 id="Collins">Katherine Collins</h3>
{{ partial "ref-Collins.html" }}
<br>

<h3 id="Cunningham">John Cunningham</h3>
{{ partial "ref-Cunningham.html" }}
<br>

<h3 id="Davies">Alex Davies</h3>
{{ partial "ref-Davies.html" }}
<br>

<h3 id="Daxberger">Erik Daxberger</h3>
{{ partial "ref-Daxberger.html" }}
<br>

<h3 id="Deisenroth">Marc Deisenroth</h3>
{{ partial "ref-Deisenroth.html" }}
<br>

<h3 id="Doshi-Velez">Finale Doshi-Velez</h3>
{{ partial "ref-Doshi-Velez.html" }}
<br>

<h3 id="Dutordoir">Vincent Dutordoir</h3>
{{ partial "ref-Dutordoir.html" }}
<br>

<h3 id="Duvenaud">David Duvenaud</h3>
{{ partial "ref-Duvenaud.html" }}
<br>

<h3 id="Dziugaite">Gintare Karolina Dziugaite</h3>
{{ partial "ref-Dziugaite.html" }}
<br>

<h3 id="Eaton">Frederik Eaton</h3>
{{ partial "ref-Eaton.html" }}
<br>

<h3 id="Flamich">Gergely Flamich</h3>
{{ partial "ref-Flamich.html" }}
<br>

<h3 id="Foong">Andrew Foong</h3>
{{ partial "ref-Foong.html" }}
<br>

<h3 id="Fortuin">Vincent Fortuin</h3>
{{ partial "ref-Fortuin.html" }}
<br>

<h3 id="Frellsen">Jes Frellsen</h3>
{{ partial "ref-Frellsen.html" }}
<br>

<h3 id="Frigola">Roger Frigola</h3>
{{ partial "ref-Frigola.html" }}
<br>

<h3 id="Gael">Jurgen Van Gael</h3>
{{ partial "ref-Gael.html" }}
<br>

<h3 id="Gal">Yarin Gal</h3>
{{ partial "ref-Gal.html" }}
<br>

<h3 id="Garriga-Alonso">Adri&agrave; Garriga-Alonso</h3>
{{ partial "ref-Garriga-Alonso.html" }}
<br>

<h3 id="Ge">Hong Ge</h3>
{{ partial "ref-Hong.html" }}
<br>

<h3 id="Ghahramani">Zoubin Ghahramani</h3>
{{ partial "ref-Ghahramani.html" }}
<br>

<h3 id="Goldwaser">Adrian Goldwaser</h3>
{{ partial "ref-Goldwaser.html" }}
<br>

<h3 id="Gordon">Jonathan Gordon</h3>
{{ partial "ref-Gordon.html" }}
<br>

<h3 id="Gu">Shixiang (Shane) Gu</h3>
{{ partial "ref-Shixiang.html" }}
<br>

<h3 id="Heaukulani">Creighton Heaukulani</h3>
{{ partial "ref-Heaukulani.html" }}
<br>

<h3 id="Heller">Katherine Heller</h3>
{{ partial "ref-Heller.html" }}
<br>

<h3 id="Lobato">Jos&eacute; Miguel Hern&aacute;ndez-Lobato</h3>
{{ partial "ref-Lobato.html" }}
<br>

<h3 id="Hoffman">Matthew Hoffman</h3>
{{ partial "ref-Hoffman.html" }}
<br>

<h3 id="Houlsby">Neil Houlsby</h3>
{{ partial "ref-Houlsby.html" }}
<br>

<h3 id="Hron">Jiri Hron</h3>
{{ partial "ref-Hron.html" }}
<br>

<h3 id="Huszar">Ferenc Husz&aacute;r</h3>
{{ partial "ref-Ferenc.html" }}
<br>

<h3 id="Ialongo">Alessandro Ialongo</h3>
{{ partial "ref-Ialongo.html" }}
<br>

<h3 id="Janz">David Janz</h3>
{{ partial "ref-Janz.html" }}
<br>

<h3 id="Kilbertus">Niki Kilbertus</h3>
{{ partial "ref-Kilbertus.html" }}
<br>

<h3 id="Knowles">David Knowles</h3>
{{ partial "ref-Knowles.html" }}
<br>

<h3 id="Kok">Manon Kok</h3>
{{ partial "ref-Kok.html" }}
<br>

<h3 id="Krasheninnikov">Dmitrii Krasheninnikov</h3>
{{ partial "ref-Krasheninnikov.html" }}
<br>

<h3 id="Krueger">David Scott Krueger</h3>
{{ partial "ref-Krueger.html" }}
<br>

<h3 id="Kugelgen">Julius von K&uuml;gelgen</h3>
{{ partial "ref-gelgen.html" }}
<br>

<h3 id="Lacoste">Simon Lacoste-Julien</h3>
{{ partial "ref-Lacoste.html" }}
<br>

<h3 id="Lalchand">Vidhi Lalchand</h3>
{{ partial "ref-Lalchand.html" }}
<br>

<h3 id="Langosco">Lauro Langosco</h3>
{{ partial "ref-Langosco.html" }}
<br>

<h3 id="Li">Yingzhen Li</h3>
{{ partial "ref-Yingzhen.html" }}
<br>

<h3 id="Likhosherstov">Valerii Likhosherstov</h3>
{{ partial "ref-Likhosherstov.html" }}
<br>

<h3 id="Weiyang">Weiyang Liu</h3>
{{ partial "ref-Weiyang.html" }}
<br>

<h3 id="Lloyd">James Lloyd</h3>
{{ partial "ref-Lloyd.html" }}
<br>

<h3 id="Lomeli">Maria Lomeli</h3>
{{ partial "ref-Lomeli.html" }}
<br>

<h3 id="Lopez-Paz">David Lopez-Paz</h3>
{{ partial "ref-Lopez-Paz.html" }}
<br>

<h3 id="Markou">Stratis Markou</h3>
{{ partial "ref-Markou.html" }}
<br>

<h3 id="Mathieu">&Eacute;mile Mathieu</h3>
{{ partial "ref-Mathieu.html" }}
<br>

<h3 id="Matthews">Alex Matthews</h3>
{{ partial "ref-Matthews.html" }}
<br>

<h3 id="McAllister">Rowan McAllister</h3>
{{ partial "ref-McAllister.html" }}
<br>

<h3 id="McHutchon">Andrew McHutchon</h3>
{{ partial "ref-McHutchon.html" }}
<br>

<h3 id="Mohamed">Shakir Mohamed</h3>
{{ partial "ref-Mohamed.html" }}
<br>

<h3 id="Nalisnick">Eric Nalisnick</h3>
{{ partial "ref-Nalisnick.html" }}
<br>

<h3 id="Navarro">Alexandre Khae Wu Navarro</h3>
{{ partial "ref-Navarro.html" }}
<br>

<h3 id="Ober">Sebastian Ober</h3>
{{ partial "ref-Sebastian.html" }}
<br>

<h3 id="Oldewage">Elre Oldewage</h3>
{{ partial "ref-Oldewage.html" }}
<br>

<h3 id="Orbanz">Peter Orbanz</h3>
{{ partial "ref-Orbanz.html" }}
<br>

<h3 id="Ortega">Pedro Ortega</h3>
{{ partial "ref-Ortega.html" }}
<br>

<h3 id="Garc">Miguel Garc&iacute;a Orteg&oacute;n</h3>
{{ partial "ref-Garc.html" }}
<br>

<h3 id="Padhy">Shreyas Padhy</h3>
{{ partial "ref-Padhy.html" }}
<br>

<h3 id="Palla">Konstantina Palla</h3>
{{ partial "ref-Palla.html" }}
<br>

<h3 id="Peharz">Robert Peharz</h3>
{{ partial "ref-Peharz.html" }}
<br>

<h3 id="Pinsler">Robert Pinsler</h3>
{{ partial "ref-Pinsler.html" }}
<br>

<h3 id="Quadrianto">Novi Quadrianto</h3>
{{ partial "ref-Quadrianto.html" }}
<br>

<h3 id="Rajkumar">Nitarshan Rajkumar</h3>
{{ partial "ref-Rajkumar.html" }}
<br>

<h3 id="Rasmussen">Carl Edward Rasmussen</h3>
{{ partial "ref-Rasmussen.html" }}
<br>

<h3 id="Requeima">James Requeima</h3>
{{ partial "ref-Requeima.html" }}
<br>

<h3 id="Mateo">Mateo Rojas-Carulla</h3>
{{ partial "ref-Rojas-Carulla.html" }}
<br>

<h3 id="Rowland">Mark Rowland</h3>
{{ partial "ref-Rowland.html" }}
<br>

<h3 id="Roy">Dan Roy</h3>
{{ partial "ref-Roy.html" }}
<br>

<h3 id="Saatci">Yunus Saat&ccedil;i</h3>
{{ partial "ref-Yunus.html" }}
<br>

<h3 id="Scibior">Adam &Sacute;cibior</h3>
{{ partial "ref-cibior.html" }}
<br>

<h3 id="Shah">Amar Shah</h3>
{{ partial "ref-Shah.html" }}
<br>

<h3 id="Siddiqui">Shoaib Ahmed Siddiqui</h3>
{{ partial "ref-Siddiqui.html" }}
<br>

<h3 id="Steinruecken">Christian Steinr&uuml;cken</h3>
{{ partial "ref-Steinruecken.html" }}
<br>

<h3 id="Swaroop">Siddharth Swaroop</h3>
{{ partial "ref-Swaroop.html" }}
<br>

<h3 id="Tebbutt">William Tebbutt</h3>
{{ partial "ref-Tebbutt.html" }}
<br>

<h3 id="Terenin">Alexander Terenin</h3>
{{ partial "ref-Terenin.html" }}
<br>

<h3 id="Tobar">Felipe Tobar</h3>
{{ partial "ref-Tobar.html" }}
<br>

<h3 id="Tripp">Austin Tripp</h3>
{{ partial "ref-Tripp.html" }}
<br>

<h3 id="Tripuraneni">Nilesh Tripuraneni</h3>
{{ partial "ref-Tripuraneni.html" }}
<br>

<h3 id="Turner">Rich Turner</h3>
{{ partial "ref-Turner.html" }}
<br>

<h3 id="Ryan">Ryan Turner</h3>
{{ partial "ref-Ryan.html" }}
<br>

<h3 id="Snelson">Ed Snelson</h3>
{{ partial "ref-Snelson.html" }}
<br>

<h3 id="Valera">Isabel Valera</h3>
{{ partial "ref-Valera.html" }}
<br>

<h3 id="Weller">Adrian Weller</h3>
{{ partial "ref-Weller.html" }}
<br>

<h3 id="Wilk">Mark van der Wilk</h3>
{{ partial "ref-Wilk.html" }}
<br>

<h3 id="Williamson">Sinead Williamson</h3>
{{ partial "ref-Sinead.html" }}
<br>

<h3 id="Wilson">Andrew Gordon Wilson</h3>
{{ partial "ref-Wilson.html" }}
<br>

<h3 id="Yue">Yue Wu</h3>
{{ partial "ref-Yue.html" }}
<br>

<h3 id="Zilka">Miri Zilka</h3>
{{ partial "ref-Zilka.html" }}

</body>
</html>


