<html>
<head>
<title>Cambridge Machine Learning Group Publications</title>

<style type="text/css">
body {font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 15px}
p.c {margin-left: 1cm; margin-right: 0cm; text-align: justify; font-size: 12px}
p.s {font-size: 12px}
</style>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-18826991-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</head>
<body text="#000000" link="#0000ff" vlink="#a020f0" alink="#ff0000"> 

<center>
<h2>Publications Page</h2>
<h3>
<a href="../">Machine Learning Group</a><br>
Department of Engineering<br>
University of Cambridge</h3><br><p>
</center>

<center>
<table border=0 cellpadding=5>

<tr>
<td><a href="topics.html#gp">
<img src="icons/gp.png" border=0 alt="GP" align="center" width=76></a>
<td><a href="topics.html#gp">Gaussian Processes<br>and Kernel Methods</a>

<td><a href="topics.html#clust">
<IMG SRC="icons/clustering.png" BORDER=0 ALT="Clusterig" ALIGN=Center WIDTH=76> </a>
<td><a href="topics.html#clust">Clustering</a>

<td><a href="topics.html#gm.html">
<IMG SRC="icons/gm.png" BORDER=0 ALT="Graphical Models" ALIGN=Center WIDTH=76></a>
<td> <a href="topics.html#gm">Graphical Models </a>
</tr>

<tr>
<td> <a href="topics.html#mcmc">
<IMG SRC="icons/mcmc.png" BORDER=0 ALT="MCMC" ALIGN=Center WIDTH=76></a>
<td> <a href="topics.html#mcmc">Monte Carlo Methods</a>

<td> <a href="topics.html#ssl">
<IMG SRC="icons/ssl.png" BORDER=0 ALT="SSL" ALIGN=Center WIDTH=76></a>
<td> <a href="topics.html#ssl">Semi-Supervised<br>Learning</a>

<td> <a href="topics.html#np">  
<IMG SRC="icons/nonparam.png" BORDER=0 ALT="Non-Parametric"
ALIGN=Center WIDTH=76></a>
<td> <a href="topics.html#np">Non-parametric<br>Bayesian Methods</a>
</tr>

<tr>
<td> <a href="topics.html#approx">
<IMG SRC="icons/approx.png" BORDER=0 ALT="Approx" ALIGN=Center WIDTH=76></a>
<td> <a href="topics.html#approx">Approximate Inference</a>

<td> <a href="topics.html#bioinf">
<IMG SRC="icons/bioinf.png" BORDER=0 ALT="DNA" ALIGN=Center WIDTH=76></a>
<td> <a href="topics.html#bioinf">Bioinformatics</a>

<td> <a href="topics.html#ir">
<IMG SRC="icons/ir.png" BORDER=0 ALT="IR" ALIGN=Center WIDTH=76></a>
<td> <a href="topics.html#ir">Information Retrieval</a>
</tr>

<tr>
<td> <a href="topics.html#rl">
<IMG SRC="icons/motor.png" BORDER=0 ALT="Control" ALIGN=Center WIDTH=76></a>
<td> <a href="topics.html#rl">Reinforcement Learning<br>and Control</a>

<td> <a href="topics.html#time">
<IMG SRC="icons/timeseries.png" BORDER=0 ALT="Time Series"
ALIGN=Center WIDTH=76></a>
<td> <a href="topics.html#time">Time Series Models</a>

<td> <a href="topics.html#reviews">
<IMG SRC="icons/reviews.png" BORDER=0 ALT="Reviews" ALIGN=Center WIDTH=76></a>
<td> <a href="topics.html#review">Review Articles<br>and Tutorials</a>
</tr>

</table>
</center>
<br>

<table border="0" cellpadding="3" width="100%">
<tbody><tr><td align="center">
 [ <a href="#2010">2010</a> | <a href="#2009">2009</a>
 | <a href="#2008">2008</a> | <a href="#2007">2007</a>
 | <a href="#2006">2006</a> | <a href="#2005">2005</a>
 | <a href="#2004">2004</a> | <a href="#2003">2003</a>
 | <a href="#2002">2002</a> | <a href="#2001">2001</a>
 | <a href="#past">past millenea</a> ]
</td></tr></tbody></table>

<center>
[ <a href="mlg.bib">full BibTeX file</a> ]
</center>

<h3 id="2010">2010</h3>
<!--#include file="ref-2010.html" -->
<br>

<h3 id="2009">2009</h3>
<!--#include file="ref-2009.html" -->
<br>

<h3 id="2008">2008</h3>
<!--#include file="ref-2008.html" -->
<br>

<h3 id="2007">2007</h3>
<!--#include file="ref-2007.html" -->
<br>

<h3 id="2006">2006</h3>
<!--#include file="ref-2006.html" -->
<br>

<h3 id="2005">2005</h3>
<!--#include file="ref-2005.html" -->
<br>

<h3 id="2004">2004</h3>
<!--#include file="ref-2004.html" -->
<br>

<h3 id="2003">2003</h3>
<!--#include file="ref-2003.html" -->
<br>

<h3 id="2002">2002</h3>
<!--#include file="ref-2002.html" -->
<br>

<h3 id="2001">2001</h3>
<!--#include file="ref-2001.html" -->
<br>

<h3 id="past">Past Millenea</h3>
<!--#include file="ref-2000|199.html" -->

</body>
</html>


