<u>current group:</u><center>
 [ <a class="author" href="/pub/authors/#Allingham">Allingham</a>
 | <a class="author" href="/pub/authors/#Antor">Antor&aacute;n</a>
 | <a class="author" href="/pub/authors/#Ashman">Ashman</a>
 | <a class="author" href="/pub/authors/#Bhatt">Bhatt</a>
 | <a class="author" href="/pub/authors/#Bronskill">Bronskill</a>
 | <a class="author" href="/pub/authors/#Bruinsma">Bruinsma</a>
 | <a class="author" href="/pub/authors/#Cheema">Cheema</a>
 | <a class="author" href="/pub/authors/#Wenlin">Wenlin Chen</a>
 | <a class="author" href="/pub/authors/#Collins">Collins</a>
 | <a class="author" href="/pub/authors/#Clarke">Clarke</a>
 | <a class="author" href="/pub/authors/#Daxberger">Daxberger</a>
 | <a class="author" href="/pub/authors/#Dutordoir">Dutordoir</a>
 | <a class="author" href="/pub/authors/#Flamich">Flamich</a>
 | <a class="author" href="/pub/authors/#Foong">Foong</a>
 | <a class="author" href="/pub/authors/#Fortuin">Fortuin</a>
 | <a class="author" href="/pub/authors/#Ge">Ge</a>
 | <a class="author" href="/pub/authors/#Ghahramani">Ghahramani</a>
 | <a class="author" href="/pub/authors/#Goldwaser">Goldwaser</a>
 | <a class="author" href="/pub/authors/#Lobato">Hern&aacute;ndez-Lobato</a>
 | <a class="author" href="/pub/authors/#Hron">Hron</a>
 | <a class="author" href="/pub/authors/#Krasheninnikov">Krasheninnikov</a>
 | <a class="author" href="/pub/authors/#Krueger">Krueger</a>
 | <a class="author" href="/pub/authors/#Kugelgen">von K&uuml;gelgen</a>
 | <a class="author" href="/pub/authors/#Lalchand">Lalchand</a>
 | <a class="author" href="/pub/authors/#Langosco">Langosco</a>
 | <a class="author" href="/pub/authors/#Likhosherstov">Likhosherstov</a>
 | <a class="author" href="/pub/authors/#Weiyang">Liu</a>
 | <a class="author" href="/pub/authors/#Markou">Markou</a>
 | <a class="author" href="/pub/authors/#Mathieu">Mathieu</a>
 | <a class="author" href="/pub/authors/#Ober">Ober</a>
 | <a class="author" href="/pub/authors/#Oldewage">Oldewage</a>
 | <a class="author" href="/pub/authors/#Garc">Orteg&oacute;n</a>
 | <a class="author" href="/pub/authors/#Padhy">Padhy</a>
 | <a class="author" href="/pub/authors/#Rajkumar">Rajkumar</a>
 | <a class="author" href="/pub/authors/#Rasmussen">Rasmussen</a>
 | <a class="author" href="/pub/authors/#Requeima">Requeima</a>
 | <a class="author" href="/pub/authors/#Siddiqui">Siddiqui</a>
 | <a class="author" href="/pub/authors/#Steinruecken">Steinr&uuml;cken</a>
 | <a class="author" href="/pub/authors/#Terenin">Terenin</a>
 | <a class="author" href="/pub/authors/#Tripp">Tripp</a>
 | <a class="author" href="/pub/authors/#Turner">Rich&nbsp;Turner</a>
 | <a class="author" href="/pub/authors/#Weller">Weller</a>
 | <a class="author" href="/pub/authors/#Zilka">Zilka</a>&nbsp;]
</center>
<u>former members:</u><center>
 [ <a class="author" href="/pub/authors/#Adel">Adel</a>
 | <a class="author" href="/pub/authors/#Balog">Balog</a>
 | <a class="author" href="/pub/authors/#Bauer">Bauer</a>
 | <a class="author" href="/pub/authors/#Borgwardt">Borgwardt</a>
 | <a class="author" href="/pub/authors/#Bratieres">Brati&egrave;res</a>
 | <a class="author" href="/pub/authors/#Bui">Bui</a>
 | <a class="author" href="/pub/authors/#Burt">Burt</a>
 | <a class="author" href="/pub/authors/#Calliess">Calliess</a>
 | <a class="author" href="/pub/authors/#Chen">Yutian Chen</a>
 | <a class="author" href="/pub/authors/#Cunningham">Cunningham</a>
 | <a class="author" href="/pub/authors/#Davies">Davies</a>
 | <a class="author" href="/pub/authors/#Deisenroth">Deisenroth</a>
 | <a class="author" href="/pub/authors/#Doshi-Velez">Doshi-Velez</a>
 | <a class="author" href="/pub/authors/#Duvenaud">Duvenaud</a>
 | <a class="author" href="/pub/authors/#Dziugaite">Dziugaite</a>
 | <a class="author" href="/pub/authors/#Eaton">Eaton</a>
 | <a class="author" href="/pub/authors/#Frellsen">Frellsen</a>
 | <a class="author" href="/pub/authors/#Frigola">Frigola</a>
 | <a class="author" href="/pub/authors/#Gael">Van&nbsp;Gael</a>
 | <a class="author" href="/pub/authors/#Gal">Gal</a>
 | <a class="author" href="/pub/authors/#Garriga-Alonso">Garriga-Alonso</a>
 | <a class="author" href="/pub/authors/#Gordon">Gordon</a>
 | <a class="author" href="/pub/authors/#Gu">Gu</a>
 | <a class="author" href="/pub/authors/#Heaukulani">Heaukulani</a>
 | <a class="author" href="/pub/authors/#Heller">Heller</a>
 | <a class="author" href="/pub/authors/#Hoffman">Hoffman</a>
 | <a class="author" href="/pub/authors/#Houlsby">Houlsby</a>
 | <a class="author" href="/pub/authors/#Huszar">Husz&aacute;r</a>
 | <a class="author" href="/pub/authors/#Ialongo">Ialongo</a>
 | <a class="author" href="/pub/authors/#Janz">Janz</a>
 | <a class="author" href="/pub/authors/#Kilbertus">Kilbertus</a>
 | <a class="author" href="/pub/authors/#Knowles">Knowles</a>
 | <a class="author" href="/pub/authors/#Kok">Kok</a>
 | <a class="author" href="/pub/authors/#Lacoste">Lacoste-Julien</a>
 | <a class="author" href="/pub/authors/#Li">Li</a>
 | <a class="author" href="/pub/authors/#Lloyd">Lloyd</a>
 | <a class="author" href="/pub/authors/#Lomeli">Lomeli</a>
 | <a class="author" href="/pub/authors/#Lopez-Paz">Lopez-Paz</a>
 | <a class="author" href="/pub/authors/#Matthews">Matthews</a>
 | <a class="author" href="/pub/authors/#McAllister">McAllister</a>
 | <a class="author" href="/pub/authors/#McHutchon">McHutchon</a>
 | <a class="author" href="/pub/authors/#Mohamed">Mohamed</a>
 | <a class="author" href="/pub/authors/#Nalisnick">Nalisnick</a>
 | <a class="author" href="/pub/authors/#Navarro">Navarro</a>
 | <a class="author" href="/pub/authors/#Orbanz">Orbanz</a>
 | <a class="author" href="/pub/authors/#Ortega">Ortega</a>
 | <a class="author" href="/pub/authors/#Palla">Palla</a>
 | <a class="author" href="/pub/authors/#Peharz">Peharz</a>
 | <a class="author" href="/pub/authors/#Pinsler">Pinsler</a>
 | <a class="author" href="/pub/authors/#Quadrianto">Quadrianto</a>
 | <a class="author" href="/pub/authors/#Mateo">Rojas-Carulla</a>
 | <a class="author" href="/pub/authors/#Rowland">Rowland</a>
 | <a class="author" href="/pub/authors/#Roy">Roy</a>
 | <a class="author" href="/pub/authors/#Saatci">Saat&ccedil;i</a>
 | <a class="author" href="/pub/authors/#Scibior">&Sacute;cibior</a>
 | <a class="author" href="/pub/authors/#Swaroop">Swaroop</a>
 | <a class="author" href="/pub/authors/#Tebbutt">Tebbutt</a>
 | <a class="author" href="/pub/authors/#Tobar">Tobar</a>
 | <a class="author" href="/pub/authors/#Tripuraneni">Tripuraneni</a>
 | <a class="author" href="/pub/authors/#Ryan">Ryan&nbsp;Turner</a>
 | <a class="author" href="/pub/authors/#Shah">Shah</a>
 | <a class="author" href="/pub/authors/#Snelson">Snelson</a> 
 | <a class="author" href="/pub/authors/#Valera">Valera</a> 
 | <a class="author" href="/pub/authors/#Wilk">van der Wilk</a> 
 | <a class="author" href="/pub/authors/#Williamson">Williamson</a>
 | <a class="author" href="/pub/authors/#Wilson">Wilson</a>&nbsp
 | <a class="author" href="/pub/authors/#Yue">Wu</a>&nbsp;]
</center>
